{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": [
    "react-hooks",
    "prettier",
    "import"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": [
        "plugin:testing-library/react",
        "plugin:jest-dom/recommended",
        "plugin:jest/recommended"
      ]
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/state-in-constructor": "off",
    "react/jsx-filename-extension": "off"
  }
}
